<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="API TESTING">

	<test name="Test Cases of for GET end points with Diff Auth">
		<classes>
			<class name="com.atmecs.api.testscripts.get.oauth2.googleapitasks.GmailAPI" />
			<class name="com.atmecs.api.testscripts.get.typicode.TypiCode" />
			<class name="com.atmecs.api.testscripts.post.noauth.restapiexample.DummyRestAPI" />
		</classes>
	</test>

</suite>

